<div id="main-div-no-vh" class="h-fit" *ngIf="staff">
    <div class="header flex justify-between items-center ">
        <div class="text-customPrimary h-full flex items-center  hover:cursor-pointer " (click)="goBack()">
            <mat-icon class="">arrow_back</mat-icon>
            <span class="">Go Back</span>
        </div>
        <div class="right-button" (click)="visible = !visible">
            <disable-enable-button-template [text]="'Disable'"
            *ngIf="staff.accountNonLocked; else disabled" [status]="false"></disable-enable-button-template>

        <ng-template #disabled>
            <disable-enable-button-template [text]="'Enable'" ></disable-enable-button-template>
        </ng-template>
            <!-- <button
                class=" w-fit hover:cursor-pointer bg-customPrimary items-center text-white rounded-lg px-2 py-1.5 text-base">Add
                New Menu</button> -->
        </div>
    </div>
    <div class="bg-white p-3 pt-4 pb-0 rounded-lg flex-1 flex flex-col border-2  mb-4 mt-4 h-fit">
     
        <div class=" user-inspect-navbar flex  justify-between  ">

            <div class="flex border-b-2 border-b-[#F0F0F0]">
            <div class=" first:ml-0 ml-2 hover:cursor-pointer text-lg " [class.active]="item.value == selectedNavbar"
                *ngFor="let item of options" (click)="updateSelectedNavbar(item.value)">

                {{item.value}}

            </div>
        </div>
            <div class="left-status" *ngIf="staff.accountNonLocked != null">
                <text-type-template [text]="'Running'"
                    *ngIf="staff.accountNonLocked; else disabled"></text-type-template>

                <ng-template #disabled>
                    <text-type-template [text]="'Disabled'" [status]="false"></text-type-template>
                </ng-template>
            </div>
        </div>
  
        <div id="pass-val" class="flex flex-col h-fit flex-1">
            <ng-container *ngIf="selectedNavbar == inspecting.DETAIL">
                <app-staff-details [staff]="staff" [class]="forChild"></app-staff-details>
            </ng-container>
            <ng-container *ngIf="selectedNavbar == inspecting.DISABLE">
                <app-staff-disable-history [staff]="staff"  [class]="forChild"></app-staff-disable-history>
            </ng-container>
        </div>
    </div>
</div>


<p-dialog header="Header" [(visible)]="visible" [closable]="true" [style]="{'width': '500px'}" 
[modal]="true">
    <!-- Header Row -->
    <ng-template pTemplate="header">
      <div class="d-flex  justify-content-between align-items-center">
        <div class="h4">{{staff.accountNonLocked? "Disable" : "Enable"}} User</div>
      </div>
    </ng-template>
  
    <!-- Content Row -->
    <ng-template pTemplate="content">
      <div class="form-group">
        <label for="remarks">Remarks</label>
        <textarea id="remarks" class="form-control" [(ngModel)]="remarks" placeholder="Enter your remarks"></textarea>
      </div>
    </ng-template>
  
    <!-- Footer Row -->
    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-end align-items-center">
        <button class="" (click)="visible = false">Cancel</button>
        <div  (click)="disableStaff()">
        <disable-enable-button-template [text]="'Disable'"
        *ngIf="staff.accountNonLocked; else disabled" [isIconFirst]="false" [status]="false"></disable-enable-button-template>

    <ng-template #disabled >
        <disable-enable-button-template [isIconFirst]="false" [text]="'Enable'"  ></disable-enable-button-template>
    </ng-template>
      </div>
    </div>
    </ng-template>
  </p-dialog>