<div class="container">
    <app-sidenav></app-sidenav>
    
    <div class="content" *ngIf="user">
            <div class="card">
                <img src="{{ user.profilePath }}" width="50" height="50" alt="Food Picture">
              <div class="card-body">
                <h5 class="card-title">{{user.fullName}}</h5>
                <p class="card-text">{{user.email}}</p>
                <p class="card-text">{{user.accountNonLocked}}</p>
              </div>
            </div>
      
    </div>
  </div>
  
  