  <div class="container">
    <app-sidenav></app-sidenav>
    <div class="content">
            <div class="card">
              <img [src]="imageData" width="50" height="50" alt="Food Picture">
              <div class="card-body">
                  <p class="card-text hidden" >{{staff.id}}</p>
                <h5 class="card-title">{{staff.fullName}}</h5>
                <p class="card-text">{{staff.contactNumber}}</p>
                <p class="card-text">{{staff.email}}</p>
                <p class="card-text">{{staff.startedWorkingOn}}</p>
                <p class="card-text">{{staff.accountNonLocked}}</p>
              </div>
            </div>
      
    </div>
  </div>
  
  