<div class="  flex-1 pt-3 flex flex-col">
  <!-- <div class="flex items-center justify-between">
    <div class="filter-header-right flex  items-center">
      <search-template (typedData)="typedOrderToFilter($event)"></search-template>
    </div>
    <food-filter-template [selectedKey]="onsiteOrdersService.selectedOption" [options]="onsiteOrdersService.options"
      (optionSelected)="selectedOrderTypeToFilter($event)"></food-filter-template>
  </div> -->

  <div class="flex justify-end">

    <div
    class="p-1 px-2 w-28 bg-white mt-1  rounded-md shadow-sm flex border-2 border-[#CED4DA] focus-within:border-customPrimary ">
    <input type="text" id="time" name="time" class="block w-full sm:text-sm  focus:outline-none"
      placeholder="Time"  [(ngModel)]="timeGave" (keydown.enter)="onTimeChange()">
      <!-- (keyup.enter)="searchData($event)"> -->
    <span>Minutes</span>
  </div>
  </div>

  <div *ngIf="onsiteOrdersService.loading; else loaded" [class]="centerItems">
    <mat-spinner style="color: red;"></mat-spinner>
  </div>

  <ng-template #loaded>
    <div class="mt-4 " *ngIf="paginatedData.content.length > 0">
      <ng-container *ngFor="let content of paginatedData.content; let first = first; let last = last; let i= index">




          <div class="w-full rounded-full " *ngIf="onsiteOrdersService.markingLoading.status && 
            onsiteOrdersService.markingLoading.index == i; else marked" [class]="centerItems">
            <mat-spinner style="color: red;"></mat-spinner>
          </div>



          <ng-template #marked>
            <div class="order-foods flex justify-center flex-wrap space-y-10  rounded-lg">
              <div class="item-description flex flex-col  w-full  ">

                  <div class="grid grid-cols-4 bg-white items-center pl-5  border-b-2 border-[#EBEBEB]">
                      <div class="col-span-3  h-full  flex py-3  items-center image-border-containers space-x-3">
                          <div class="image-container">
                              <div class="w-12 h-12 rounded-full overflow-hidden">
                                  <img [src]="content.profileUrl" alt="User Image" class="w-full h-full object-cover" />
                              </div>
                          </div>
                          <div class="flex flex-col ">

                              <span class="">{{content.fullName}}</span>
                              <span>{{content.orderedTime}} ago   </span>        
                              
                          </div>
                      </div>
                      <div class="bg-[#FCE642] pt-2  text-2xl flex justify-center
                      font-semibold h-full text-[#5C5D5C] items-center" >
                      <div class="flex  items-end">
                      <span class="text-sm pr-1 font-light flex ">Total</span> 
                      <span>{{currency}} {{content.totalPrice}} </span>
                  </div>
              </div>
                    </div>
                    <div class="bg-white">
                  <div class="grid grid-cols-4 items-center bg-white">
                      <ng-container *ngFor="let items of content.orderFoodDetails; let first= first;">
                      <div class="col-span-3 pl-16 pt-4" [class.pt-3]="first">
                          <div class="grid grid-cols-8 items-center ">
                              
                              <div class="image-container col-span-2 flex  items-center space-x-4">
                                  <div class="hover:cursor-pointer w-fit h-fit " >
                                      <div *ngIf="!items.foodMenu.isAvailable; else available">
                                          <mat-icon [style.color]="'red'" >highlight_off</mat-icon>
                                      </div>
                                      <ng-template #available>
                                          <mat-icon [style.color]="'green'">task_alt</mat-icon>
                                          
                                      </ng-template>
                                  </div>
                                  <div class="w-16 h-16 rounded-full overflow-hidden shrink-0">
                                      <img [src]="imageDataMap[items.photoId]"
                                      class="w-full h-full object-cover" />
                                  </div>
                                  <div class="col-span-4">{{items.foodName}}</div> 
                              </div>
                              
                              <div class="col-span-2 flex justify-center items-center"><span>Qty: </span> {{items.quantity}}</div>


                          <div class="col-span-2 flex justify-center"> 
              <text-type-template text="{{items.foodMenu.foodType}}"></text-type-template>
                              </div>
                          <div class="col-span-2 flex justify-center items-center"><span>{{currency}} </span> {{items.cost}} each</div>
                    
                          </div>
                         
                                  
                      </div>
                      <div class="flex justify-center items-center h-full text-xl " >
                          <span>{{currency}} {{items.totalPrice}}</span>
                      </div>
                      </ng-container>
                  </div>
                  <!-- <div class="border-t-2 mt-3 px-5 border-[#EBEBEB] flex justify-between"> -->
                  <div class="border-t-2 mt-3  border-[#EBEBEB] grid grid-cols-4 py-2">
                      <div class="col-span-3" >
                      </div>
                          <div class=" flex space-x-2 justify-center w-full">
                            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'PENDING'">
                              <div class="footer-order flex justify-between items-center space-x-6" [class]="buttonCss()">
                                
                                  <default-button-template [text]="'Cancel Order'" [background]="'white'"
                                    [color]="'customPrimary'" [hasBorder]="true" (clicked)="showPopUp = true; selectedOrderId = content.id"></default-button-template>
                               
                                <div class=" flex justify-center items-center hover:cursor-pointer hover:text-customPrimary"
                                  data-toggle="tooltip" title="Mark as seen" (click)="handleMarkAsReadChange(content.id, i)">
                                  <mat-icon class="text-xl">visibility</mat-icon>
                                </div>
                                
                              </div>
                            </ng-container>
                
                            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'VIEWED'">
                              <div class=" footer-order flex justify-between " [class]="buttonCss()">
                
                                <div (click)="showPopUp = true; selectedOrderId = content.id">
                                  <default-button-template [text]="'Cancel Order'" [background]="'white'"
                                    [color]="'customPrimary'" [hasBorder]="true" ></default-button-template>
                                </div>
                                <div (click)="updateOrder(content.id, 'DELIVERED')">
                
                                  <default-button-template [text]="'Deliver'"></default-button-template>
                                </div>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'DELIVERED'">
                              <div class="mt-2  footer-order flex justify-between  " [class]="buttonCss()">
                
                                <!-- <div>
                
                                  <text-type-custom-template text="{{content.payStatus}}"
                                    border="{{content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : null}}"
                                    color="{{content.payStatusCheck == 'PAID'?  '[#1565C0]' : content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : 'red-700'}}"
                                    bgColor="{{content.payStatusCheck == 'PAID'?  'blue-200' : content.payStatusCheck == 'PARTIAL_PAID'? '[#F8F9FA]' : 'red-300'}}"></text-type-custom-template>
                
                                </div> -->
                                <div (click)="selectedOrder = content; payCashPopUp = true">
                                  <default-button-template [text]="'Pay'" [background]="'customPrimary'"
                                    [color]="'white'"></default-button-template>
                                </div>
                              </div>
                            </ng-container>
                
                            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'PAID'">
                              <div class="mt-2  footer-order flex justify-between  " [class]="buttonCss()">
                
                                <div>
                                  <text-type-custom-template text="{{content.payStatus}}"
                                    border="{{content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : null}}"
                                    color="{{content.payStatusCheck == 'PAID'?  '[#1565C0]' : content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : 'red-700'}}"
                                    bgColor="{{content.payStatusCheck == 'PAID'?  'blue-200' : content.payStatusCheck == 'PARTIAL_PAID'? '[#F8F9FA]' : 'red-300'}}"></text-type-custom-template>
                                </div>
                                
                
                              </div>
                            </ng-container>
                
                            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'CANCELED'">
                              <div class=" footer-order flex justify-end " [class]="buttonCss()">
                
                                <div (click)="updateOrder(content.id, 'PENDING')">
                                  <default-button-template [text]="'Re-Enter'" [background]="'customPrimary'"
                                    [color]="'white'"></default-button-template>
                                </div>
                              </div>
                            </ng-container>
                            
                            </div>
                  </div>
              </div>
                    

  
              </div>
            </div>
            <!-- <div class="flex justify-between items-center">
              <div class="flex flex-col">
                <span class="text-xl">{{content.fullName}}</span>
                <span class="text-sm">{{content.orderedTime}} ago</span>
              </div>
              <div class="image-container">
                <div class="w-16 h-16 rounded-full overflow-hidden">
                  <img src={{content.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                </div>
              </div>
            </div>

            <div class="order-foods flex justify-center flex-wrap mt-2">
              <ng-container *ngFor="let item of content.orderFoodDetails">
                <div class="flex bg-white w-fit px-1.5 py-1.5 rounded-lg drop-shadow-xl border-2 border-[#aeabab] mr-2">
                  <div class="image-container">
                    <div class="w-16 h-16 rounded-full overflow-hidden">
                      <img src={{imageDataMap[item.photoId]}} alt="Your Image" class="w-full h-full object-cover" />
                    </div>
                  </div>
                  <div class="ml-1.5">
                    <div class="text-lg">
                      <span>{{item.foodName}} </span>
                      <span class="text-customPrimary"> x{{item.quantity}}</span>
                    </div>
                    <span class="text-priceColor">Rs. {{item.totalPrice}}</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'PENDING'">
              <div class="footer-order flex justify-between " [class]="buttonCss()">
                <div class=" flex justify-center items-center hover:cursor-pointer hover:text-customPrimary"
                  data-toggle="tooltip" title="Mark as seen" (click)="handleMarkAsReadChange(content.id, i)">
                  <mat-icon class="text-xl">visibility</mat-icon>
                </div>
                 <default-button-template [text]="'Deliver'"></default-button-template> 
                <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>
              </div>
            </ng-container>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'VIEWED'">
              <div class=" footer-order flex justify-between " [class]="buttonCss()">

                <div (click)="updateOrder(content.id, 'DELIVERED')">

                  <default-button-template [text]="'Deliver'"></default-button-template>
                </div>
                <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>
                <div (click)="showPopUp = true; selectedOrderId = content.id">
                  <default-button-template [text]="'Cancel Order'" [background]="'white'"
                    [color]="'customPrimary'" [hasBorder]="true" ></default-button-template>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'DELIVERED'">
              <div class="mt-2  footer-order flex justify-between  " [class]="buttonCss()">

                <div>

                  <text-type-custom-template text="{{content.payStatus}}"
                    border="{{content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : null}}"
                    color="{{content.payStatusCheck == 'PAID'?  '[#1565C0]' : content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : 'red-700'}}"
                    bgColor="{{content.payStatusCheck == 'PAID'?  'blue-200' : content.payStatusCheck == 'PARTIAL_PAID'? '[#F8F9FA]' : 'red-300'}}"></text-type-custom-template>

                </div>
                <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>
                <div (click)="selectedOrder = content; payCashPopUp = true">
                  <default-button-template [text]="'Pay'" [background]="'customPrimary'"
                    [color]="'white'"></default-button-template>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'PAID'">
              <div class="mt-2  footer-order flex justify-between  " [class]="buttonCss()">

                <div>
                  <text-type-custom-template text="{{content.payStatus}}"
                    border="{{content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : null}}"
                    color="{{content.payStatusCheck == 'PAID'?  '[#1565C0]' : content.payStatusCheck == 'PARTIAL_PAID'? 'primary' : 'red-700'}}"
                    bgColor="{{content.payStatusCheck == 'PAID'?  'blue-200' : content.payStatusCheck == 'PARTIAL_PAID'? '[#F8F9FA]' : 'red-300'}}"></text-type-custom-template>
                </div>
                <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>

              </div>
            </ng-container>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'CANCELED'">
              <div class=" footer-order flex justify-end " [class]="buttonCss()">

                <div (click)="updateOrder(content.id, 'PENDING')">
                  <default-button-template [text]="'Re-Enter'" [background]="'customPrimary'"
                    [color]="'white'"></default-button-template>
                </div>
              </div>
            </ng-container> -->
          </ng-template>
      
      </ng-container>
    </div>

    <div [class]="centerItems" *ngIf="paginatedData.content.length ==0">
      <no-content-template></no-content-template>
    </div>
  </ng-template>


</div>
<are-you-sure-template [visible]="showPopUp" [header]="'Cancel Order'" [selectedId]="selectedOrderId"
  [description]="'Are you sure you want to cancel the order?'" [positiveLabel]="'Yes'" [negativeLabel]="'No'"
  (visibleChange)="showPopUp = false" (yesEvent)="updateOrder($event, 'CANCELED')"
  [isLoading]="onsiteOrdersService.updateOrderLoader"></are-you-sure-template>




<p-dialog [(visible)]="payCashPopUp" [closable]="true" [style]="{'width': '700px'}" [modal]="true"
  *ngIf="selectedOrder">

<p-header>
  <div class="flex items-center">
    <div class="image-container">
      <div class="w-12 h-12 rounded-full overflow-hidden">
        <img src={{selectedOrder.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
      </div>
    </div>
    <div class="ml-2 flex flex-col">
      <span class="text-xl">{{selectedOrder.fullName}}</span>
      <span class="text-sm">{{selectedOrder.orderedTime}} ago</span>
    </div>
  </div>
  </p-header>
  <ng-container>
    <div class="container-box">

      <div class="item-description flex flex-col mt-2">

        <table class="w-full rounded-lg">
          <thead class="bg-[#f5f5f5] border-2 border-transparent">
            <tr class="text-customPrimary p-2 px-3 ">
              <th style="padding: inherit;"></th>
              <th>Name</th>
              <th>Cost</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>

            
            <ng-container *ngFor="let items of selectedOrder.orderFoodDetails; let first= first;">
              <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                      
                  text-sm" [class.border-t-0]="first" >
                <td style="padding: inherit;">
                  <div class="image-container">
                    <div class="w-16 h-16 rounded-full overflow-hidden">
                      <img [src]="imageDataMap[items.photoId]" class="w-full h-full object-cover" />
                    </div>
                  </div>
                </td>


                <td>{{items.foodName}}</td>
                <td>Rs. {{items.cost}}</td>
                <td>{{items.quantity}}</td>
                <td>Rs. {{items.totalPrice}} </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="flex flex-col justify-center items-center">
          <span>
            Total: Rs. {{selectedOrder.totalPrice}}
          </span>
          <span>
            Previous Remaining Amount: {{selectedOrder.remainingAmount - selectedOrder.totalPrice}}
          </span>
          <div class="text-xl">
            Total To Pay: <span class="text-customPrimary ">Rs. {{selectedOrder.remainingAmount}}</span>
          </div>
        </div>

      </div>




      <form class="my-4">
        <div class="flex justify-center  ">
          <div class="text-[#343A40] ">Rs.</div>

          <input
            class="ml-4 w-20 border-2 text-center p-0 border-[#CED4DA] focus:border-customPrimary  focus:outline-none"
            id="amount" [min]="0" [max]="selectedOrder.totalPrice" [(ngModel)]="paidAmount" name="quantity">

        </div>

      </form>

      <div class="flex justify-center">
        <button type="submit" data-dismiss="modal"
          [ngClass]="{'disabled-button': paidAmount == null  || paidAmount <= 0 || paidAmount >  selectedOrder.remainingAmount}"
          (click)="pay(paidAmount)"
          class="text-white bg-customPrimary hover:cursor-pointer  items-center rounded px-2  py-1.5 text-base">Select</button>

      </div>
    </div>
  </ng-container>
</p-dialog>