<div class="  flex-1 pt-3 flex flex-col">
  <div class="flex items-center justify-between">
    <div class="filter-header-right flex  items-center">
      <search-template (typedData)="typedOrderToFilter($event)"></search-template>
    </div>
    <food-filter-template [selectedKey]="onsiteOrdersService.selectedOption" [options]="onsiteOrdersService.options"
      (optionSelected)="selectedOrderTypeToFilter($event)"></food-filter-template>
  </div>

  <div *ngIf="onsiteOrdersService.loading; else loaded" [class]="centerItems">
    <mat-spinner style="color: red;"></mat-spinner>
  </div>

  <ng-template #loaded>
    <div class="mt-4 grid grid-cols-2 gap-4 " *ngIf="paginatedData.content.length > 0">
      <ng-container *ngFor="let content of paginatedData.content; let first = first; let last = last; let i= index">

        <div class="order-list bg-white px-3 py-2 h-full flex flex-col justify-between rounded-lg">

          <div class="w-full rounded-full ">
            <div *ngIf="onsiteOrdersService.markingLoading.status && 
            onsiteOrdersService.markingLoading.index == i; else marked" [class]="centerItems">
              <mat-spinner style="color: red;"></mat-spinner>
            </div>
          </div>


          <ng-template #marked>
            <div class="flex justify-between items-center">
              <div class="flex flex-col">
                <span class="text-xl">{{content.fullName}}</span>
                <span class="text-sm">{{content.orderedTime}} ago</span>
              </div>
              <div class="image-container">
                <div class="w-16 h-16 rounded-full overflow-hidden">
                  <img src={{content.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                </div>
              </div>
            </div>

            <div class="order-foods flex justify-center flex-wrap mt-2">
              <ng-container *ngFor="let item of content.orderFoodDetails">
                <div class="flex bg-white w-fit px-1.5 py-1.5 rounded-lg drop-shadow-xl border-2 border-[#aeabab] mr-2">
                  <div class="image-container">
                    <div class="w-16 h-16 rounded-full overflow-hidden">
                      <img src={{imageDataMap[item.photoId]}} alt="Your Image" class="w-full h-full object-cover" />
                    </div>
                  </div>
                  <div class="ml-1.5">
                    <div class="text-lg">
                      <span>{{item.foodName}} </span>
                      <span class="text-customPrimary"> x{{item.quantity}}</span>
                    </div>
                    <span class="text-priceColor">Rs. {{item.totalPrice}}</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <ng-container  *ngIf="onsiteOrdersService.selectedOption == 'PENDING'">
            <div class="footer-order flex justify-between items-center" >
              <div class=" flex justify-center items-center hover:cursor-pointer hover:text-customPrimary"
                data-toggle="tooltip" title="Mark as seen" (click)="handleMarkAsReadChange(content.id, i)">
                <mat-icon class="text-xl">visibility</mat-icon>
              </div>
              <!-- <default-button-template [text]="'Deliver'"></default-button-template> -->
              <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>
            </div>
          </ng-container>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'VIEWED'">
              <div class=" footer-order flex justify-between items-center">

                <default-button-template [text]="'Deliver'"></default-button-template>
                <span class="text-priceColor font-semibold text-base">Rs. {{content.totalPrice}}</span>
                <div (click)="showPopUp = true; selectedOrderId = content.id">
                  <default-button-template [text]="'Cancel Order'" [background]="'white'"
                    [color]="'customPrimary'"></default-button-template>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="onsiteOrdersService.selectedOption == 'CANCELED'">
              <div class=" footer-order flex justify-end items-center">

                <div (click)="updateOrder(content.id, 'PENDING')">
                  <default-button-template [text]="'Re-Enter'" [background]="'customPrimary'"
                    [color]="'white'" ></default-button-template>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </ng-container>
    </div>
    
    <div [class]="centerItems" *ngIf="paginatedData.content.length ==0">
      <no-content-template></no-content-template>
    </div>
  </ng-template>
  
  <are-you-sure-template [visible]="showPopUp" [header]="'Cancel Order'"
  [selectedId]="selectedOrderId"
    [description]="'Are you sure you want to cancel the order?'" [positiveLabel]="'Yes'"
    [negativeLabel]="'No'" (visibleChange)="showPopUp = false" (yesEvent)="updateOrder($event, 'REJECTED')"
    [isLoading]="onsiteOrdersService.updateOrderLoader" ></are-you-sure-template>

</div>