<div id="main-div-no-vh">

  <div class=" ">

    <div class="flex" *ngIf="staff">

      <div class="w-24 h-24 rounded-full overflow-hidden" class="image-container">
        <div>
        <div *ngIf="staffService.loading; else loaded" [class]="centerItems">
          <mat-spinner style="color: red;"></mat-spinner>
        </div>
      </div>
        <ng-template #loaded>
          <div class="w-24 h-24 rounded-full overflow-hidden">
            <img [src]="imageData" alt="Your Image" class="w-full h-full object-cover" />
          </div>
        </ng-template>
      </div>
      <div class="ml-2">
        <div class="flex flex-col">
          <span class="font-semibold">Full Name</span>
          <span>{{staff.fullName}}</span>
        </div>
        <div class="flex flex-col mt-2">
          <span class="font-semibold">Email Address</span>
          <span>{{staff.email}}</span>
        </div>
      </div>
    </div>




  </div>
</div>

<!-- <div class="container">
  <app-sidenav></app-sidenav>
  <div class="content" *ngIf="staff">
    <button type="button" class="btn btn-success mr-2 ml-5" (click)="visible = !visible">
      {{staff.accountNonLocked? "Disable" : "Enable"}}
      </button>
    <button type="button" class="btn btn-success mr-2 ml-5" (click)="navigateToHistory()">
      History
      </button>
    <div class="card">
      <img [src]="imageData" width="50" height="50" alt="Food Picture">
      <div class="card-body">
        <p class="card-text hidden">{{staff.id}}</p>
        <h5 class="card-title">{{staff.fullName}}</h5>
        <p class="card-text">{{staff.contactNumber}}</p>
        <p class="card-text">{{staff.email}}</p>
        <p class="card-text">{{staff.startedWorkingOn}}</p>
        <p class="card-text">{{staff.accountNonLocked}}</p>
      </div>
    </div>

<p-dialog header="Header" [(visible)]="visible" [closable]="false" [style]="{'width': '500px'}">
  <ng-template pTemplate="header">
    <div class="d-flex  justify-content-between align-items-center">
      <div class="h4">{{staff.accountNonLocked? "Disable" : "Enable"}} Staff</div>
      <div>
        <span class="mr-3">{{ remarks }}</span>
        <span class="cursor-pointer justify-content-end" (click)="visible = false"> &#10006;</span>
      </div>
    </div>
  </ng-template>


  <ng-template pTemplate="content">
    <div class="form-group">
      <label for="remarks">Remarks</label>
      <textarea id="remarks" class="form-control" [(ngModel)]="remarks" placeholder="Enter your remarks"></textarea>
    </div>
  </ng-template>


  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-secondary " (click)="visible = false">Cancel</button>
      <button type="button" class="btn btn-danger ml-2" (click)="disableStaff()">{{staff.accountNonLocked? "Disable" : "Enable"}}</button>
    </div>
  </ng-template>
</p-dialog>




  </div>
</div> -->