<!-- <div *ngIf="feedbackStatusList && feedbackData"> -->

<div id="" class="h-full flex flex-col flex-1 " >
    <div class="flex justify-end ">
        <calender-template [dateFilterType]="enumCalenderType.DAY"
            (selectedDate)="onRangeSelect($event)"></calender-template>
    </div>

    <div *ngIf="feedbackInspectService.loading; else loaded" [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
    </div>
    <ng-template #loaded>
       
    <ng-template #noData>
    <div [class]="centerItems" *ngIf="paginatedData && paginatedData.content.length ==0">
        <no-content-template></no-content-template>
      </div>
    </ng-template>

    <div *ngIf="(paginatedData && feedbackData) && (paginatedData.content.length>0); else noData">

            <div class=" text-center mb-3">
                <div class="text-4xl font-semibold">
                    {{feedbackData.sentiment}}
                </div>
                <div>
                    Based on {{feedbackData.totalFeedback}} feedbacks.
                </div>
            </div>

            <table>
                <tr *ngFor="let item of feedbackStatusList; let first= first; let i = index; let last = last"
                    class="text-[#15803D] font-semibold " [class.text-yellow-600]="first" [class.text-red-600]="last">
                    <td class="">{{item}}</td>
                    <td class="w-full  pl-2">
                        <div class="progress h-3">
                            <div class="progress-bar bg-[#15803D]" [class.bg-yellow-600]="first"
                                [class.bg-red-600]="last" role="progressbar"
                                [style.width.%]="filterFeedbackDataByIndex('width', i)">
                            </div>
                        </div>

                    </td>
                    <td class="pl-2">{{filterFeedbackDataByIndex('count', i)}}</td>
                </tr>
            </table>
   



        <div class="content mt-5">


            <div *ngFor="let data of paginatedData.content | paginate: {
                    itemsPerPage : paginationNavigator.row,
                    currentPage : paginationNavigator.currentPage,
                    totalItems : paginationNavigator.totalNoOfElements
                }; let first = first; let last = last">

                <div class=" bg-[#EBE9E9] rounded-xl  px-3 mt-4 py-2">
                    <div class="header flex  justify-between ">
                        <div class="left-header flex ">
                            <div class="image-container mr-1">
                                <div class="w-12  rounded-full overflow-hidden">
                                    <img src={{data.userProfileUrl}} alt="Your Image"
                                        class="w-full h-full object-cover" />
                                </div>
                            </div>
                            <div class="feedback-details flex flex-col">
                                <span class="text-base font-semibold">{{data.username}}</span>
                                <span class="text-sm text-black font-extralight">{{data.date}}</span>
                            </div>
                        </div>
                        <div class="right-header text-base">
                            <span class="text-[#15803D]"
                                [class.text-yellow-600]="data.feedbackStatus.toLocaleLowerCase() == 'positive'"
                                [class.text-red-600]="data.feedbackStatus.toLocaleLowerCase() == 'negative'">
                                {{data.feedbackStatus}}
                            </span>

                        </div>
                    </div>

                    <div class="feedback-content  text-base mt-2">
                        {{data.feedbacks}}
                    </div>
                </div>
            </div>


        </div>
    </div>

</ng-template>
</div>