<div id="main-div" class=" pb-2 space-y-10">
  <div class="top-side flex ">
    <div class="revenue-details w-full " *ngIf="(revenueDataSubscription$ | async)?.data as revenue">
      <div class="flex justify-between items-center">
        <div class="revenue-header flex flex-col mb-2 ">
          <span class="text-[#495057] font-semibold text-xl">Today's Revenue</span>
          <span class="text-3xl font-bold">{{currency + ' ' + revenue.revenue}}</span>
        </div>
        <div class="flex ">
          <announcement-button-template></announcement-button-template>
        </div>

    </div>

      <div class="divided flex justify-around bg-white p-4 rounded-lg">
        <div class="paid-amount flex flex-col items-center">
          <span class=" text-3xl font-bold">{{currency + ' ' + revenue.paidAmount}}</span>
          <span class="">Paid Amount</span>
        </div>
        <div class="paid-amount flex flex-col items-center">
          <span class=" text-3xl font-bold">{{currency + ' ' + revenue.leftToPay}}</span>
          <span class="">Left to paid</span>
        </div>
        
        <div class="paid-amount flex flex-col items-center">
          <span class=" text-3xl font-bold">{{revenue.deliveredOrder}}</span>
          <span class="">Order Delivered</span>
        </div>
      </div>
    </div>

  </div>


  <div class="flex justify-between ">
    <div>
      <sales-doughnut-template [counter]="3"
      ></sales-doughnut-template>
       <!-- [fromDate]="'2024-01-01'" [toDate]="'2024-04-01'" -->
    </div>
    <div class="flex flex-col w-full items-end justify-center ">
      <div class="w-5/6 flex flex-col justify-center space-y-5  h-full" >
        <div *ngIf="(orderDataSubscription$ | async)?.data as order ">
          <div class=" text-end">
            <span class="text-[#495057] font-semibold text-xl "><span class="text-sm ">({{orderService.timeDifference}} minutes)</span>Pending Orders</span>
          </div>
          <div class="divided flex w-full  justify-between bg-white p-4 rounded-lg">
            <div class="flex items-center ">
              <div class="paid-amount flex flex-col ml-2 items-center ">
                <span class=" text-xl font-bold">{{order.totalPending}}</span>
                <span class="">Total</span>
              </div>
            </div>
            <div class="flex items-center hover:cursor-pointer hover:text-customPrimary" (click)="goToManageOrder('Onsite')">
              
              <div class="paid-amount flex flex-col ml-2 items-center">
                <span class=" text-xl font-bold">{{order.onsiteOrder.pending}}</span>
                <span class="" >Onsite</span>
              </div>
            </div>
            <div class="flex items-center hover:cursor-pointer  hover:text-customPrimary " (click)="goToManageOrder('Online')">
              
              <div class="paid-amount flex flex-col ml-2 items-center" >
                <span class=" text-xl font-bold">{{order.onlineOrder.pending}}</span>
                <span class="" >Online</span>
              </div>
            </div>


          </div>
        </div>
     

        <div *ngIf="userData">
          <div class=" text-end">
            <span class="text-[#495057] font-semibold text-xl ">Users</span>
          </div>
          <div class="divided flex w-full  justify-between bg-white p-4 rounded-lg">
            <div class="flex items-center hover:cursor-pointer hover:text-customPrimary" (click)="navigateToUserManagement('ALL')">
              <div class="paid-amount flex flex-col ml-2 items-center">
                <span class=" text-xl font-bold">{{userData.totalUser}}</span>
                <span class="">Total</span>
              </div>
            </div>
            <div class="flex items-center  hover:cursor-pointer hover:text-customPrimary" (click)="navigateToUserManagement('INTERNAL')">
              
              <div class="paid-amount flex flex-col ml-2 items-center">
                <span class=" text-xl font-bold">{{userData.internal}}</span>
                <span class="">Internal</span>
              </div>
            </div>
            <div class="flex items-center  hover:cursor-pointer hover:text-customPrimary" (click)="navigateToUserManagement('EXTERNAL')">
             
              <div class="paid-amount flex flex-col ml-2 items-center">
                <span class=" text-xl font-bold">{{userData.external}}</span>
                <span class="">External</span>
              </div>
            </div>
            

          </div>

        </div>


        
      </div>

    </div>


  </div>


  <div class="flex justify-between ">

    <div style="width: 60%;" *ngIf="(foodMenuDataSubscription$ | async)?.data as foodData">
      <div class=" text-start">
        <span class="text-[#495057] font-semibold text-xl ">Food Menu</span>
      </div>
      <div class="divided flex w-full  justify-around bg-white p-4 rounded-lg">
        <div class="flex items-center hover:cursor-pointer  hover:text-customPrimary" (click)="navigateToFoodMenu()">
          <div class="paid-amount flex flex-col  items-center">
            <span class=" text-xl font-bold">{{foodData.total}}</span>
            <span class="">Total</span>
          </div>
        </div>
        <div class="flex items-center hover:cursor-pointer  hover:text-customPrimary" (click)="navigateToFoodMenu()">
          <div class="paid-amount flex flex-col items-center">
            <span class=" text-xl font-bold">{{foodData.today}}</span>
            <span class="">Available</span>
          </div>
        </div>
        <div class="flex items-center hover:cursor-pointer hover:text-customPrimary" (click)="navigateToFoodMenu()">
        
          <div class="paid-amount flex flex-col  items-center">
            <span class=" text-xl font-bold">{{foodData.notToday}}</span>
            <span class="">Not Available</span>
          </div>
        </div>
      </div>
    </div>


    <div style="width: 10%;"  *ngIf="(tableDataSubscription$ | async)?.data as tableData">
      <div class=" text-center">
        <span class="text-[#495057] font-semibold text-xl ">Table</span>
      </div>
      <div class="divided flex w-full  justify-center bg-white p-4 " >
        <div class="flex items-center justify-center hover:cursor-pointer hover:text-customPrimary" (click)="navigateToStaffManagement()">
          <div class="paid-amount flex flex-col items-center justify-center">
            <span class=" text-xl font-bold">{{tableData.total}}</span>
            <span class="">Total</span>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 10%;">
      <div class=" text-center">
        <span class="text-[#495057] font-semibold text-xl ">Staff</span>
      </div>
      <div class="divided flex w-full  justify-center bg-white p-4  rounded-lg" >
        <div class="flex items-center hover:cursor-pointer hover:text-customPrimary" (click)="navigateToStaffManagement()">
          <div class="paid-amount flex flex-col items-center">
            <span class=" text-xl font-bold">{{userData.totalStaff}}</span>
            <span class="">Total</span>
          </div>
        </div>
      </div>
    </div>



    


    
  </div>



</div>