<div id="main-div">

  <!-- {{getSalesData.totalSales}} -->
  <div class="top-side flex justify-between">
    <div></div>
    <div class="top-right">
      <announcement-button-template></announcement-button-template>

    </div>
  </div>
  <div class="flex">

    <div class=" flex ">
      <div class="card flex ">
        <p-chart type="pie" [data]="data" [options]="options" [plugins]="plugins"></p-chart>
      </div>
      <div>
        <p-dropdown [options]="sortBy" (onChange)="onSelectedDropdown($event)"
                        placeholder="SALES" 
                    [autoDisplayFirst]="false" dataKey="value"></p-dropdown>
      </div>


      <div class="flex w-fit h-fit">
        <div (click)="counter = counter +1">
        <mat-icon>add</mat-icon>
      </div>
      <p-inputNumber
      [min]="0" [max]="40"
            [(ngModel)]="counter"
            inputId="horizontal"
            spinnerMode="horizontal"
            styleClass="w-1"
            #counterInput
            [readonly]="true"></p-inputNumber>

            <div (click)="counter = counter -1">
            <mat-icon>add</mat-icon>
          </div>
          </div>
      <button></button>
    </div>
  </div>
</div>