<div id="main-div" class="" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="0"
    (scrolled)="onScroll()">



    <div>
        <div class="flex w-full justify-between items-center mb-3 bg-white p-2 rounded-lg">
            <div>
                <search-template (typedData)="typedOrderToFilter($event)"></search-template>
            </div>

            <div class="top-right flex items-center" (click)="visible = true">
                <div class="mr-3">
                    <calender-template [dateFilterType]="enumCalenderType.WEEK"
                        (selectedDate)="onRangeSelect($event)"></calender-template>
                </div>
                <div>
                    <default-button-template [text]="'Make Announcement'"></default-button-template>
                </div>
            </div>

        </div>

    </div>


    <div *ngIf="announcementService.announcementLoading && announcementList.length == 0; else loaded"
        [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
    </div>

    <div [class]="centerItems" *ngIf="announcementList.length == 0 && !announcementService.announcementLoading">
        <no-content-template></no-content-template>
      </div>
    <ng-template #loaded>
        <div class="mb-4">
        <ng-container *ngFor="let data of announcementList">
            <div class=" bg-white rounded-xl  px-3 mt-4 py-2">
                <div class="header flex  justify-between ">
                    <div class="left-header flex ">
                        <div class="image-container mr-1">
                            <div class="w-12 h-12  rounded-full overflow-hidden">
                                <img [src]="imageDataMap[data.userId] == null? 'assets/avatar/anon.jpg' : imageDataMap[data.userId]"
                                    alt="Your Image" class="w-full h-full object-cover" />
                            </div>
                        </div>
                        <div class="feedback-details flex flex-col">
                            <span class="text-xl font-semibold">{{data.postedBy}}</span>
                            <span class="text-sm text-black font-extralight">{{data.date}}</span>
                        </div>
                    </div>
                    <!-- <div class="right-header text-base">
                <span class="text-[#15803D]"
                    [class.text-yellow-600]="data.feedbackStatus.toLocaleLowerCase() == 'positive'"
                    [class.text-red-600]="data.feedbackStatus.toLocaleLowerCase() == 'negative'">
                    {{data.feedbackStatus}}
                </span>

            </div> -->
                </div>

                <div class="feedback-content  text-base mt-2">
                    {{data.message}}
                </div>
            </div>
        </ng-container>
    </div>
    </ng-template>

    <div class="pb-4" *ngIf="announcementService.announcementLoading && announcementList.length > 0">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
</div>