
<div id="main-div">
    <div class="flex items-center justify-between">
        <div class="filter-header-right flex  items-center">
          <search-template (typedData)="typedOrderToFilter($event)"></search-template>
        </div>
        <div *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONSITE">
            
            <food-filter-template [selectedKey]="onsiteOrdersService.selectedOption" [options]="onsiteOrdersService.options"
            (optionSelected)="selectedOrderTypeToFilter($event!)"
            ></food-filter-template>
        </div>
        <div *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONLINE">
            
            <default-button-template text="Summarize" (clicked)="showSummaryPopUp()"> </default-button-template>
        </div>
      </div>
    <div class="flex flex-col flex-1">
        
        <ng-container *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONLINE">
            <app-online-orders [class]="forChild" [searchedText]="searchText"></app-online-orders>
        </ng-container>

        <ng-container *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONSITE" >
            <app-onsite-orders [class]="forChild" [searchedText]="searchText" [selectedFoodFilter]="updatedSelected" ></app-onsite-orders>
        </ng-container>

    </div>  
</div>

<p-dialog [baseZIndex]="100" [(visible)]="summaryPopUp" [closable]="true" [style]="{'width': '700px'}" [modal]="true"
 (onHide)="summaryPopUp = false;"
    header="Online Order Summary">

    
    <ng-container>
        <div class="container-box">

            <div class="flex justify-end space-x-4">

                <div class="form-group">
                    <label>From Time</label>
                    <input type="time" class="form-control" [(ngModel)]="startTime" (ngModelChange)="onTimeChange()">
                  </div>
                  <div class="form-group">
                    <label>To Time</label>
                    <input type="time" class="form-control" [(ngModel)]="endTime" (ngModelChange)="onTimeChange()">
                  </div>
            </div>
            <div class="item-description flex flex-col mt-2" *ngIf="summaryData && summaryData.length > 0">

                <table class="w-full rounded-lg">
                    <thead class="bg-[#f5f5f5] border-2 border-transparent">
                        <tr class="text-customPrimary p-2 px-3 ">
                            <th style="padding: inherit;"></th>
                            <th>Name</th>
                            <th  class="text-center">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>


                        <ng-container *ngFor="let items of summaryData; let first= first;">
                            <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                      
                  text-sm" [class.border-t-0]="first">
                                <td style="padding: inherit;">
                                    <div class="image-container">
                                        <div class="w-16 h-16 rounded-full overflow-hidden">
                                            <img [src]="imageDataMap[items.photoId]"
                                                class="w-full h-full object-cover" />
                                        </div>
                                    </div>
                                </td>


                                <td>{{items.foodName}}</td>
                                <td class="text-center">{{items.quantity}}</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>


            </div>




        </div>
    </ng-container>
</p-dialog>