
<div id="main-div">
    <div class="flex flex-col flex-1">
        
        <ng-container *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONLINE">
            <app-online-orders [class]="forChild"></app-online-orders>
        </ng-container>

        <ng-container *ngIf="managementNavbarService.selectedNavbar == managementNavbarService.inspecting.ONSITE" >
            <app-onsite-orders [class]="forChild" ></app-onsite-orders>
        </ng-container>

    </div>  
</div>