<!-- <div id="main-div" class="">
  
  
  <div class="mb-4">
  <calender-template></calender-template>
  
</div>
<div *ngIf="userOrderService.loading; else loaded" [class]="centerItems">
  <mat-spinner style="color: red;"></mat-spinner>
</div>
<ng-template #loaded>
    <div class="overflow-x-hidden overflow-y-hidden">
    <div  fxLayout="row wrap overflow-x-hidden" [fxLayoutGap]="collapsed? '20px grid' : '32px grid'"  fxLayoutAlign="start">
    <div [fxFlex]="collapsed? '25%' : '33%'" [fxFlex.xs]="'100%' " fxFlex.sm="50%" class="order-card" *ngFor="let content of paginatedData.data.content" >
        <div class=" bg-white rounded-xl drop-shadow-xl" (click)="toggleOrderDetailsPopUp(content)" >
            <div class="header flex  justify-between p-4 text-xl">
                <div class="left-header flex flex-col">
                    <span class="font-bold">
                        {{content.orderType}}
                    </span>
                    <span>
                       {{content.date}}
                    </span>
                </div>
                <div class="right-header">
                    <div class="image-container">
                        <div class="w-16 h-16 rounded-full overflow-hidden">
                            <img src={{content.profileUrl}} alt="Your Image"
                                class="w-full h-full object-cover" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="order-content-with-line-break flex flex-col mt-10 first:mt-0" *ngFor="let item of content.orderFoodDetails.slice(0,1); let first= first; let last = last; let i=index" 
            [class.mt-0]="first">

                <div [class.mt-0]="first" class="order-content-details flex px-4">
                    <div class="image-container">
                        <div class="w-20 h-20   rounded-full overflow-hidden">
                            <img [src]="imageDataMap[item.photoId]" class="w-full h-full object-cover">
                        </div>
                    </div>
                    <div class="order-content-details w-full flex flex-col text-lg justify-between mb-4 ">
                        <span class="font-semibold">{{item.foodName}}</span>
                        <span class="text-[#58ABFF]">{{item.foodMenu.foodType}}</span>
                        <div class="price-details justify-between flex w-ful  font-semibold">
                            <span class="text-priceColor">Rs. {{item.totalPrice}}</span>
                            <span>Qty: {{item.quantity}}</span>
                        </div>
                    </div>
                    
                </div>
                
                <div class="flex items-center mx-4 ">
                    <div class="border-t border-gray-500 flex-grow"></div>
                    <div class="mx-1 text-sm text-[#5261E5]" *ngIf="content.orderFoodDetails.length > 1">View more</div>
                    <div class="border-t border-gray-500 flex-grow"></div>
                </div>
            </div>
            
            


                <div class="content-footer p-4  ">
                    <div class="items-price-details flex flex-col items-end font-semibold">
                        <span class="text-[#58ABFF] ">x2 Items</span>
                        <span class="text-priceColor text-xl">$3.66</span>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </div>
    
</ng-template>

</div> -->


<div id="main-div" *ngIf="historyData">

    <div class="space-y-10 " *ngIf="historyData.length > 0">
        <ng-container *ngFor="let content of historyData; let first = first; let last = last; let i= index">
  
          <!-- <div class="order-list bg-white px-3 py-2 h-full flex flex-col  rounded-lg"> -->
  
  
            
  
  
              
  
              <div class="order-foods flex justify-center flex-wrap space-y-10  rounded-lg">
                <div class="item-description flex flex-col  w-full  ">

                    <div class="grid grid-cols-4 bg-white items-center pl-5  border-b-2 border-[#EBEBEB]">
                        <div class="col-span-3  h-full  flex  items-center image-border-containers">
                            <span class="text-xl">Order No. {{content.orderCode}}</span>
                                    
                        </div>
                        <div class="bg-[#FCE642] pt-2 pb-3 text-2xl flex justify-center
                        font-semibold  text-[#5C5D5C] items-end" ><span class="text-sm pr-1 font-light">Total</span> 
                        <span>{{currency}} {{content.totalPrice}} </span></div>
                      </div>
                      <div class="bg-white">
                    <div class="grid grid-cols-4 items-center bg-white">
                        <ng-container *ngFor="let items of content.orderFoodDetails; let first= first;">
                        <div class="col-span-3 pl-16 pt-4" [class.pt-3]="first">
                            <div class="grid grid-cols-8 items-center ">
                                
                                <div class="image-container col-span-2 flex  items-center space-x-4 ">
                                    <div class="hover:cursor-pointer w-fit h-fit " >
                                        <mat-icon class="text-red-600 " >delete</mat-icon>
                                    </div>
                                    <div class="w-16 h-16 rounded-full overflow-hidden shrink-0">
                                        <img [src]="imageDataMap[items.photoId]"
                                            class="w-full h-full object-cover" />
                                        </div>
                                        <div class="col-span-4">{{items.foodName}}</div> 
                                </div>
                        


                            <div class="col-span-2 flex justify-center"> 
                <text-type-template text="{{items.foodMenu.foodType}}"></text-type-template>
                                </div>
                            <div class="col-span-2 flex justify-center items-center"><span>{{currency}} </span> {{items.cost}} each</div>
                            <div class="col-span-2 flex justify-center items-center"><span>Qty: </span> {{items.quantity}}</div>
                            <!-- Rs. {{items.cost}}
                           Rs. {{items.totalPrice}} -->
                            </div>
                           
                                    
                        </div>
                        <div class="flex justify-center items-center h-full text-xl" >
                            <span>{{currency}} {{items.totalPrice}}</span>
                        </div>
                        </ng-container>
                    </div>
                    <div class="border-t-2 mt-3 px-5 border-[#EBEBEB] flex justify-between">
                        <div>
Hello
                            </div>

                            <div>
                                Sello
                            </div>
                    </div>
                </div>
                      
                      
                      
                    <!-- <table class="w-full rounded-lg">
                        <thead class="bg-[#f5f5f5] border-2 border-transparent rounded-lg">
                            <tr class="text-customPrimary p-2 px-3 rounded-lg ">
                                <th style="padding: inherit;" class="flex ">
                                    <span class="text-xl">Order No. {{content.orderCode}}</span>
                                    <span class="text-sm">Will arrive by: {{content.arrivalTime}}</span>
                                </th>
                                <th style="padding: inherit;"></th>
                            </tr>
                        </thead>
                        <tbody>
    
    
                            <ng-container *ngFor="let items of content.orderFoodDetails; let first= first;">
                                <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                          
                      text-sm" [class.border-t-0]="first">
                                    <td>
                                        <div class="hover:cursor-pointer w-fit h-fit" >
                                            <mat-icon class="text-red-600 " >delete</mat-icon>
                                        </div>
                                  
                                        <div class="image-container">
                                            <div class="w-16 h-16 rounded-full overflow-hidden">
                                                <img [src]="imageDataMap[items.photoId]"
                                                    class="w-full h-full object-cover" />
                                            </div>
                                        </div>
                                
    
    
                                    {{items.foodName}}
                                    Rs. {{items.cost}}
                                    {{items.quantity}}
                                   Rs. {{items.totalPrice}} 
                                    </td>
                                </tr>
                            </ng-container>
    
    
                            
                        </tbody>
                    </table>
    
                    <div class="flex flex-col justify-center items-center">
                        <span>
                            Total: Rs. {{content.totalPrice}}
                        </span>
                    </div> -->
    
                </div>
              </div>
  
              
          <!-- </div> -->
        </ng-container>
      </div>



 
</div>