<div class="  flex-1 pt-3 flex flex-col">
    <!-- <div class="flex items-center justify-between">
        <div class="filter-header-right flex  items-center">
            <search-template (typedData)="typedOrderToFilter($event)"></search-template>
        </div>
    </div> -->

    <div *ngIf="onlineOrdersService.loading; else loaded" [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
    </div>


    <ng-template #loaded>
        <div class="mt-4  " *ngIf="paginatedData && paginatedData.content.length > 0">
            
            <ng-container
                *ngFor="let content of paginatedData.content; let first = first; let last = last; let i= index">
                <div class="order-foods flex justify-center flex-wrap space-y-10  rounded-lg">
                    <div class="item-description flex flex-col  w-full  ">
    
                        <div class="grid grid-cols-4 bg-white items-center pl-5  border-b-2 border-[#EBEBEB]">
                            <div class="col-span-3  h-full  flex py-3  items-center image-border-containers space-x-3">
                                <div class="image-container">
                                    <div class="w-12 h-12 rounded-full overflow-hidden">
                                        <img [src]="content.profileUrl" alt="User Image" class="w-full h-full object-cover" />
                                    </div>
                                </div>
                                <div class="flex flex-col ">

                                    <span class="">Order No. {{content.orderCode}}</span>
                                    <span>{{content.fullName}} <span class="text-sm">({{content.arrivalTime}})</span>        </span>        
                                    
                                </div>
                            </div>
                            <div class="bg-[#FCE642] pt-2  text-2xl flex justify-center
                            font-semibold h-full text-[#5C5D5C] items-center" >
                            <div class="flex  items-end">
                            <span class="text-sm pr-1 font-light flex ">Total</span> 
                            <span>{{currency}} {{content.totalPrice}} </span>
                        </div>
                    </div>
                          </div>
                          <div class="bg-white">
                        <div class="grid grid-cols-4 items-center bg-white">
                            <ng-container *ngFor="let items of content.orderFoodDetails; let first= first;">
                            <div class="col-span-3 pl-16 pt-4" [class.pt-3]="first">
                                <div class="grid grid-cols-8 items-center ">
                                    
                                    <div class="image-container col-span-2 flex  items-center space-x-4">
                                        <div class="hover:cursor-pointer w-fit h-fit " >
                                            <div *ngIf="!items.foodMenu.isAvailable; else available">
                                                <mat-icon [style.color]="'red'" >highlight_off</mat-icon>
                                            </div>
                                            <ng-template #available>
                                                <mat-icon [style.color]="'green'">task_alt</mat-icon>
                                                
                                            </ng-template>
                                        </div>
                                        <div class="w-16 h-16 rounded-full overflow-hidden shrink-0">
                                            <img [src]="imageDataMap[items.photoId]"
                                            class="w-full h-full object-cover" />
                                        </div>
                                        <div class="col-span-4">{{items.foodName}}</div> 
                                    </div>
                                    
                                    <div class="col-span-2 flex justify-center items-center"><span>Qty: </span> {{items.quantity}}</div>
    
    
                                <div class="col-span-2 flex justify-center"> 
                    <text-type-template text="{{items.foodMenu.foodType}}"></text-type-template>
                                    </div>
                                <div class="col-span-2 flex justify-center items-center"><span>{{currency}} </span> {{items.cost}} each</div>
                                <!-- Rs. {{items.cost}}
                               Rs. {{items.totalPrice}} -->
                                </div>
                               
                                        
                            </div>
                            <div class="flex justify-center items-center h-full text-xl " >
                                <span>{{currency}} {{items.totalPrice}}</span>
                            </div>
                            </ng-container>
                        </div>
                        <!-- <div class="border-t-2 mt-3 px-5 border-[#EBEBEB] flex justify-between"> -->
                        <div class="border-t-2 mt-3  border-[#EBEBEB] grid grid-cols-4 py-2">
                            <div class="col-span-3" >
                            </div>
                                <div class=" flex space-x-2 justify-center w-full">
                                    <button class="bg-[#3B82F6] text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50  bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
                                    (click)="editOrderPopUp = true; selectedOrder = content">
                                      Edit
                                    </button>
                                    <button class="bg-[#EF4444] text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-10 px-4 py-2"
                                    (click)="makeOnsite(content.id)" [disabled]="onlineOrdersService.postOnlineLoader">
                                    <span *ngIf="!onlineOrdersService.postOnlineLoader; else posted">
                                        Approve
                                    </span>
                                    <ng-template #posted>

                                        <i class="pi pi-spin pi-spinner" ></i>
                                    </ng-template>
                                    </button>
                                  
                                  </div>
                        </div>
                    </div>
                          

        
                    </div>
                  </div>
                <!-- <div class="order-list bg-white px-3 py-2 h-full flex flex-col  rounded-lg">


                



                    <div class="flex justify-between items-center">
                        <div class="flex flex-col">
                            <span class="text-xl">{{content.fullName}}</span>
                            <span class="text-lg">Order No. {{content.orderCode}} </span>
                            <span class="text-sm">{{content.arrivalTime}} </span>
                        </div>
                        <div class="image-container">
                            <div class="w-16 h-16 rounded-full overflow-hidden">
                                <img src={{content.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                            </div>
                        </div>
                    </div>

                    <div class="order-foods flex justify-center flex-wrap mt-2">
                        <ng-container *ngFor="let item of content.orderFoodDetails">
                            <div
                                class="flex bg-white w-fit px-1.5 py-1.5 rounded-lg drop-shadow-xl border-2 border-[#aeabab] mr-2">
                                <div class="image-container">
                                    <div class="w-16 h-16 rounded-full overflow-hidden">
                                        <img src={{imageDataMap[item.photoId]}} alt="Your Image"
                                            class="w-full h-full object-cover" />
                                    </div>
                                </div>
                                <div class="ml-1.5">
                                    <div class="text-lg">
                                        <span>{{item.foodName}} </span>
                                        <span class="text-customPrimary"> x{{item.quantity}}</span>
                                    </div>
                                    <span class="text-priceColor">Rs. {{item.totalPrice}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>


                    <div class="footer-order flex justify-between" [class]="buttonCss()">
                        <div class="bg-blue-600 text-white  hover:cursor-pointer p-1 py-1.5 flex items-center rounded border-2 border-[#b3a8a8]"
                            (click)="editOrderPopUp = true; selectedOrder = content">
                            <mat-icon>border_color</mat-icon>
                        </div>

                        <div (click)="makeOnsite(content.id)">
                            <default-button-template [text]="'Approve'"></default-button-template>
                        </div>

                    </div>


                </div> -->
            </ng-container>
        </div>

        <div [class]="centerItems" *ngIf="paginatedData.content.length ==0">
            <no-content-template></no-content-template>
        </div>

    </ng-template>


</div>

<p-dialog [baseZIndex]="100" [(visible)]="editOrderPopUp" [closable]="true" [style]="{'width': '700px'}" [modal]="true"
    *ngIf="selectedOrder" (onHide)="dialogHide()">

    <p-header>
        <div class="flex items-center">
            <div class="image-container">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                    <img src={{selectedOrder.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="ml-2 flex flex-col">
                <span class="text-xl">{{selectedOrder.fullName}}</span>
                <span class="text-sm">{{selectedOrder.arrivalTime}}</span>
            </div>
        </div>
    </p-header>
    <ng-container>
        <div class="container-box">

            <div class="item-description flex flex-col mt-2">

                <table class="w-full rounded-lg">
                    <thead class="bg-[#f5f5f5] border-2 border-transparent">
                        <tr class="text-customPrimary p-2 px-3 ">
                            <th style="padding: inherit;"></th>
                            <th style="padding: inherit;"></th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>


                        <ng-container *ngFor="let items of selectedOrder.orderFoodDetails; let first= first;">
                            <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                      
                  text-sm" [class.border-t-0]="first">
                                <td align="center">
                                    <div class="hover:cursor-pointer w-fit h-fit" (click)="deleteOrderFood(items)">
                                        <mat-icon class="text-red-600 " >delete</mat-icon>
                                    </div>
                                </td>
                                <td style="padding: inherit;">
                                    <div class="image-container">
                                        <div class="w-16 h-16 rounded-full overflow-hidden">
                                            <img [src]="imageDataMap[items.photoId]"
                                                class="w-full h-full object-cover" />
                                        </div>
                                    </div>
                                </td>


                                <td>{{items.foodName}}</td>
                                <td>Rs. {{items.cost}}</td>
                                <td>{{items.quantity}}</td>
                                <td>Rs. {{items.totalPrice}} </td>
                            </tr>
                        </ng-container>


                        <tr class=" border-2 border-[#F0F0F0]">
                            <td align="center" class="  " colspan="6">
                                <div *ngIf="onlineOrdersService.postOnlineLoader; else posted">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </div>

                                <ng-template #posted>
                                    <div (click)="addingOrder = true" *ngIf="!addingOrder">
                                        <default-button-template [text]="'Add Food'"></default-button-template>
                                    </div>
                                    <div class="flex items-start justify-between" (click)="addingOrder = true"
                                        *ngIf="addingOrder">
                                        <div>
                                            Search Food:
                                            <p-autoComplete [showClear]="true" class=" border-gray-50" #pdFront
                                                [(ngModel)]="selectedItem" [suggestions]="suggestions"
                                                (completeMethod)="search($event)" (onSelect)="selected($event)"
                                                (onUnselect)="unSelect()" (onClear)="unSelect()"
                                                (onKeyUp)="checkValue($event)" field="name"
                                                styleClass="border-2 border-customPrimary rounded focus:border-transparent">
                                                <ng-template let-item pTemplate="item">
                                                    <div class="flex items-center">
                                                        <div class="w-10 h-10 rounded-full overflow-hidden">
                                                            <img [src]="item.photo"
                                                                class="w-full h-full object-cover" />
                                                        </div>
                                                        <span>{{ item.name }}</span>
                                                    </div>
                                                </ng-template>
                                            </p-autoComplete>
                                        </div>



                                        <div class="flex justify-center  ">
                                            <div class="text-[#343A40] ">Quantity: </div>

                                            <input
                                                class="ml-4 w-20 border-2 text-center p-0 border-[#CED4DA] focus:border-customPrimary  focus:outline-none"
                                                id="amount" [min]="0" [max]="selectedOrder.totalPrice"
                                                [(ngModel)]="quantity" name="quantity">

                                        </div>



                                        <div class="flex justify-center h-fit">
                                            <button type="submit" data-dismiss="modal"
                                                [ngClass]="{'disabled-button': selectedItem == null  || quantity <= 0 || selectedFood == null || selectedFood.id == null }"
                                                (click)="addFood()"
                                                class="text-white bg-customPrimary hover:cursor-pointer  items-center rounded px-2  py-1.5 text-base">Add</button>

                                        </div>
                                    </div>
                                </ng-template>



                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex flex-col justify-center items-center">
                    <span>
                        Total: Rs. {{selectedOrder.totalPrice}}
                    </span>
                </div>

            </div>




        </div>
    </ng-container>
</p-dialog>