<div class="  flex-1 pt-3 flex flex-col">
    <!-- <div class="flex items-center justify-between">
        <div class="filter-header-right flex  items-center">
            <search-template (typedData)="typedOrderToFilter($event)"></search-template>
        </div>
    </div> -->

    <div *ngIf="onlineOrdersService.loading; else loaded" [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
    </div>


    <ng-template #loaded>
        <div class="mt-4 grid grid-cols-2 gap-4 " *ngIf="paginatedData && paginatedData.content.length > 0">
            <ng-container
                *ngFor="let content of paginatedData.content; let first = first; let last = last; let i= index">

                <div class="order-list bg-white px-3 py-2 h-full flex flex-col  rounded-lg">


                    <!-- <div class="w-full rounded-full " *ngIf="onsiteOrdersService.markingLoading.status && 
              onsiteOrdersService.markingLoading.index == i; else marked" [class]="centerItems">
              <mat-spinner style="color: red;"></mat-spinner>
            </div> -->



                    <!-- <ng-template #marked> -->
                    <div class="flex justify-between items-center">
                        <div class="flex flex-col">
                            <span class="text-xl">{{content.fullName}}</span>
                            <span class="text-lg">Order No. {{content.orderCode}} </span>
                            <span class="text-sm">{{content.arrivalTime}} </span>
                        </div>
                        <div class="image-container">
                            <div class="w-16 h-16 rounded-full overflow-hidden">
                                <img src={{content.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                            </div>
                        </div>
                    </div>

                    <div class="order-foods flex justify-center flex-wrap mt-2">
                        <ng-container *ngFor="let item of content.orderFoodDetails">
                            <div
                                class="flex bg-white w-fit px-1.5 py-1.5 rounded-lg drop-shadow-xl border-2 border-[#aeabab] mr-2">
                                <div class="image-container">
                                    <div class="w-16 h-16 rounded-full overflow-hidden">
                                        <img src={{imageDataMap[item.photoId]}} alt="Your Image"
                                            class="w-full h-full object-cover" />
                                    </div>
                                </div>
                                <div class="ml-1.5">
                                    <div class="text-lg">
                                        <span>{{item.foodName}} </span>
                                        <span class="text-customPrimary"> x{{item.quantity}}</span>
                                    </div>
                                    <span class="text-priceColor">Rs. {{item.totalPrice}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>


                    <div class="footer-order flex justify-between" [class]="buttonCss()">
                        <div class="bg-blue-600 text-white  hover:cursor-pointer p-1 py-1.5 flex items-center rounded border-2 border-[#b3a8a8]"
                            (click)="editOrderPopUp = true; selectedOrder = content">
                            <mat-icon>border_color</mat-icon>
                        </div>

                        <div (click)="makeOnsite(content.id)">
                            <default-button-template [text]="'Approve'"></default-button-template>
                        </div>

                    </div>


                </div>
            </ng-container>
        </div>

        <div [class]="centerItems" *ngIf="paginatedData.content.length ==0">
            <no-content-template></no-content-template>
        </div>

    </ng-template>


</div>

<p-dialog [baseZIndex]="100" [(visible)]="editOrderPopUp" [closable]="true" [style]="{'width': '700px'}" [modal]="true"
    *ngIf="selectedOrder" (onHide)="dialogHide()">

    <p-header>
        <div class="flex items-center">
            <div class="image-container">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                    <img src={{selectedOrder.profileUrl}} alt="Your Image" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="ml-2 flex flex-col">
                <span class="text-xl">{{selectedOrder.fullName}}</span>
                <span class="text-sm">{{selectedOrder.arrivalTime}}</span>
            </div>
        </div>
    </p-header>
    <ng-container>
        <div class="container-box">

            <div class="item-description flex flex-col mt-2">

                <table class="w-full rounded-lg">
                    <thead class="bg-[#f5f5f5] border-2 border-transparent">
                        <tr class="text-customPrimary p-2 px-3 ">
                            <th style="padding: inherit;"></th>
                            <th style="padding: inherit;"></th>
                            <th>Name</th>
                            <th>Cost</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>


                        <ng-container *ngFor="let items of selectedOrder.orderFoodDetails; let first= first;">
                            <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                      
                  text-sm" [class.border-t-0]="first">
                                <td>
                                    <div class="hover:cursor-pointer w-fit h-fit" (click)="deleteOrderFood(items)">
                                        <mat-icon class="text-red-600 " >delete</mat-icon>
                                    </div>
                                </td>
                                <td style="padding: inherit;">
                                    <div class="image-container">
                                        <div class="w-16 h-16 rounded-full overflow-hidden">
                                            <img [src]="imageDataMap[items.photoId]"
                                                class="w-full h-full object-cover" />
                                        </div>
                                    </div>
                                </td>


                                <td>{{items.foodName}}</td>
                                <td>Rs. {{items.cost}}</td>
                                <td>{{items.quantity}}</td>
                                <td>Rs. {{items.totalPrice}} </td>
                            </tr>
                        </ng-container>


                        <tr class=" border-2 border-[#F0F0F0]">
                            <td align="center" class="  " colspan="6">
                                <div *ngIf="onlineOrdersService.postOnlineLoader; else posted">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </div>

                                <ng-template #posted>
                                    <div (click)="addingOrder = true" *ngIf="!addingOrder">
                                        <default-button-template [text]="'Add Food'"></default-button-template>
                                    </div>
                                    <div class="flex items-start justify-between" (click)="addingOrder = true"
                                        *ngIf="addingOrder">
                                        <div>
                                            Search Food:
                                            <p-autoComplete [showClear]="true" class=" border-gray-50" #pdFront
                                                [(ngModel)]="selectedItem" [suggestions]="suggestions"
                                                (completeMethod)="search($event)" (onSelect)="selected($event)"
                                                (onUnselect)="unSelect()" (onClear)="unSelect()"
                                                (onKeyUp)="checkValue($event)" field="name"
                                                styleClass="border-2 border-customPrimary rounded focus:border-transparent">
                                                <ng-template let-item pTemplate="item">
                                                    <div class="flex items-center">
                                                        <div class="w-10 h-10 rounded-full overflow-hidden">
                                                            <img [src]="item.photo"
                                                                class="w-full h-full object-cover" />
                                                        </div>
                                                        <span>{{ item.name }}</span>
                                                    </div>
                                                </ng-template>
                                            </p-autoComplete>
                                        </div>



                                        <div class="flex justify-center  ">
                                            <div class="text-[#343A40] ">Quantity: </div>

                                            <input
                                                class="ml-4 w-20 border-2 text-center p-0 border-[#CED4DA] focus:border-customPrimary  focus:outline-none"
                                                id="amount" [min]="0" [max]="selectedOrder.totalPrice"
                                                [(ngModel)]="quantity" name="quantity">

                                        </div>



                                        <div class="flex justify-center h-fit">
                                            <button type="submit" data-dismiss="modal"
                                                [ngClass]="{'disabled-button': selectedItem == null  || quantity <= 0 || selectedFood == null || selectedFood.id == null }"
                                                (click)="addFood()"
                                                class="text-white bg-customPrimary hover:cursor-pointer  items-center rounded px-2  py-1.5 text-base">Add</button>

                                        </div>
                                    </div>
                                </ng-template>



                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex flex-col justify-center items-center">
                    <span>
                        Total: Rs. {{selectedOrder.totalPrice}}
                    </span>
                </div>

            </div>




        </div>
    </ng-container>
</p-dialog>