<div id="main-div" class="space-y-5">
    <div class="flex justify-between">

        <div>
            <food-filter-template [selectedKey]="manageUserService.selectedOption" [options]="manageUserService.options"
      (optionSelected)="selectedUserTypeToFilter($event)"></food-filter-template>
        </div>
        
        <div class="flex ">

            <search-template (typedData)="typedUserToFilter($event)"></search-template>
    
            <div (click)="onOpeningDrawer.emit(true); this.sendUserId.emit(null);">
                <add-button-template [text]="'User'"></add-button-template>
            </div>
        </div>
    </div>
    <div class="" style="width: 100%;">
        <p-table 
        [value]="userListPaginated.content"
        #dt1
        [rows]="paginationJson.row"
        [loading]="load"
     *ngIf="userListPaginated">
        <ng-template pTemplate="header">
            <tr>
                <th style="">
                    <div class="flex align-items-center">
                        
                    </div>
                </th>
                <th style="">
                    <div class="flex align-items-center">
                        Username
                    </div>
                </th>
                <th style="">
                    <div class="flex align-items-center">
                        Email
                    </div>
                </th>
                <th style="">
                    <div class="flex align-items-center justify-center">
                        User Type
                        
                    </div>
                </th>
                <th style="">
                    <div class="flex align-items-center justify-center">
                        Account Status
                        
                    </div>
                </th>
                <th style="">
                    <div class="flex align-items-center justify-center">
                        Action
                        
                    </div>
                </th>
    
    
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <div class="image-container">
                        <div class="w-16 h-16 rounded-full overflow-hidden">
                            <img [src]="imageDataMap[user.id] == null? 'assets/avatar/anon.jpg' : imageDataMap[user.id]" alt='user Image'
                                class="w-full h-full object-cover" />
                        </div>
                    </div>
                </td>
                <td>
                  
                    <span class=" vertical-align-middle">{{ user.fullName }}</span>
                </td>
                <td>
                  
                    <span class=" vertical-align-middle">{{ user.email }}</span>
                </td>
                <td>
                    <div class="flex justify-center">

                        {{user.isExternal? 'External' : 'Internal'}}
                    </div>
                </td>
                <td>
                    <div class="flex justify-center" >
                        <text-type-template [text]="'Running'"
                        *ngIf="user.accountNonLocked; else disabled"></text-type-template>
                        
                        <ng-template #disabled>
                            <text-type-template [text]="'Disabled'" [status]="false"></text-type-template>
                        </ng-template>
                    </div>
                </td>
                <td>
                    <div class="flex justify-center ">
                        <div *ngIf="user.isExternal; else isInternal">
                            <mat-icon class="hover:cursor-pointer h-full
                hover:text-customPrimary"
                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                (click)="onOpeningDrawer.emit(true); this.sendUserId.emit(user);"
                                [class.text-gray-600]="!user.isExternal">edit</mat-icon>
                            </div>
                            <ng-template #isInternal>
                            <mat-icon class=" h-full"
                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                [class.text-gray-600]="!user.isExternal">edit_off</mat-icon>

                        </ng-template>
                        <div>
                            <mat-icon class="hover:cursor-pointer h-full
                hover:text-customPrimary"
                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                (click)="navigateToSingle(user)">visibility</mat-icon>
                        </div>
                    </div>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">
                    <div class="flex justify-center">
                        No Users found.
                        
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <tfoot class="flex justify-between   h-full mt-2"  *ngIf="userListPaginated">
        <ng-container *ngFor="let data of userListPaginated.content | paginate: {
            itemsPerPage : paginationJson.row,
            currentPage : userListPaginated.currentPageIndex,
            totalItems : userListPaginated.totalElements
        }; let first= first;">
        </ng-container>
        <p>{{userListPaginated.numberOfElements}} of {{userListPaginated.totalElements}}
            items</p>
    
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)" class="">
        </pagination-controls>
    
    
    
    
    </tfoot>
</div>


<!-- <div id="main-div" class="">

    <div class="flex justify-between">

        <div>
            <food-filter-template [selectedKey]="manageUserService.selectedOption" [options]="manageUserService.options"
      (optionSelected)="selectedUserTypeToFilter($event)"></food-filter-template>
        </div>
        
        <div class="flex ">

            <search-template (typedData)="typedUserToFilter($event)"></search-template>
    
            <div (click)="onOpeningDrawer.emit(true); this.sendUserId.emit(null);">
                <add-button-template [text]="'User'"></add-button-template>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="manageUserService.loading; else loaded" [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
    </div>

    
    <ng-template #loaded>
        <div [class]="centerItems" *ngIf="userListPaginated.content.length == 0; else notEmpty">
            <no-content-template></no-content-template>
          </div>
        <ng-template #notEmpty>
        <div class="h-full mt-4" >
            <div class=" ">
                <table class="w-full rounded-lg">
                    <thead class="bg-[#f5f5f5] border-2 border-transparent">
                        <tr class="text-customPrimary p-2 px-3 ">
                            <th style="padding: inherit;">Username</th>
                            <th>Email</th>
                            <th>User Type</th>
                            <th>Account Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let data of userListPaginated.content | paginate: {
                            itemsPerPage : paginationJson.row,
                            currentPage : userListPaginated.currentPageIndex,
                            totalItems : userListPaginated.totalElements
                        }; let first= first;">
                            <tr class="table-row-hover bg-white p-2 px-3 hover:bg-[#f5f5f5] h-full   border-2 border-[#F0F0F0]
                            
                        text-sm" [class.border-t-0]="first">
                                <td class="hidden">{{data.id}}</td>
                                <td style="padding: inherit;">{{data.fullName}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.isExternal? 'External' : 'Internal'}}</td>
                                <td class="pl-5">


                                    <text-type-template [text]="'Running'"
                                        *ngIf="data.accountNonLocked; else disabled"></text-type-template>

                                    <ng-template #disabled>
                                        <text-type-template [text]="'Disabled'" [status]="false"></text-type-template>
                                    </ng-template>

                                </td>
                                <td align="center" class="h-full mt-2">


                                    <div class="flex justify-center ">
                                        <div *ngIf="data.isExternal; else isInternal">
                                            <mat-icon class="hover:cursor-pointer h-full
                                hover:text-customPrimary"
                                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                                (click)="onOpeningDrawer.emit(true); this.sendUserId.emit(data);"
                                                [class.text-gray-600]="!data.isExternal">edit</mat-icon>
                                            </div>
                                            <ng-template #isInternal>
                                            <mat-icon class=" h-full"
                                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                                [class.text-gray-600]="!data.isExternal">edit_off</mat-icon>

                                        </ng-template>
                                        <div>
                                            <mat-icon class="hover:cursor-pointer h-full
                                hover:text-customPrimary"
                                                style="font-size: 18px; display: flex; align-items: center; justify-content: center;"
                                                (click)="navigateToSingle(data)">visibility</mat-icon>
                                        </div>
                                    </div>

                                </td>

                            </tr>
                        </ng-container>
                    </tbody>


                </table>
                <tfoot class="flex justify-between  w-full h-full mt-2">
                    <p>{{userListPaginated.numberOfElements}} of {{userListPaginated.totalElements}} items</p>
                    
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                            (pageChange)="onTableDataChange($event)" class="">
                        </pagination-controls>
                    
                    
                        <div class="bg-white w-fit pr-3">
    
                            <pagination-dropdown-template [data]="tableSizes" [defaultSelected]="paginationJson.row"
                                (selectedDropdownOptionChange)="onSelectedDropdown($event)"></pagination-dropdown-template>
                            <span>/page</span>
                        </div>
                 

                </tfoot>
            </div>
        </div>
    </ng-template>
       
    </ng-template>
</div> -->


