<div id="main-div">

    

    <div class="header flex justify-end" (click)="visible = true">
        <add-button-template text="Table"></add-button-template>
    </div>

    <div *ngIf="tableService.getLoading; else loaded" [class]="centerItems">
        <mat-spinner style="color: red;"></mat-spinner>
      </div>

    <!-- <div class="flex flex-wrap "> -->
        <ng-template #loaded>
            <div [class]="centerItems" *ngIf="tableData.length == 0; else data">
                <no-content-template></no-content-template>
              </div>
              <ng-template #data>
    <div class="grid grid-cols-3 gap-4 mt-3">
            <ng-container *ngFor="let item of tableData">
                <!-- <div class="flex items-center bg-white">
                    <div class="bg-white p-2 text-center" (click)="selectingTable(item)">
                        <span>Table Number: {{item.tableNumber}}</span>
                    </div>
                    <div (click)="deleteVisible = true; selectedTable = item">
                        <default-button-template text="Delete"></default-button-template>
                    </div>
                </div> -->
                <div
  class="bg-white shadow-sm w-full max-w-sm rounded-lg border p-4 flex justify-between items-center">
  <h2 class="text-lg font-semibold">Table no. {{item.tableNumber}}</h2>
  <div class="flex space-x-2">
    <button class="bg-[#3B82F6] text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50  bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
    (click)="selectingTable(item)">
      View
    </button>
    <button class="bg-[#EF4444] text-white inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-10 px-4 py-2"
    (click)="deleteVisible = true; selectedTable = item">
      Delete
    </button>
  </div>
</div>
            </ng-container>
        </div>
    </ng-template>
    </ng-template>


</div>

<p-dialog [(visible)]="qrVisible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false"
    *ngIf="selectedTable" (onHide)="imageData = null">

    <p-header>
        Table Number: {{selectedTable.tableNumber}}
    </p-header>
    <div class="flex hover:cursor-pointer justify-end w-full items-center" (click)="downloadImage(imageData!, selectedTable)">
        <div>
            <default-button-template text="Download" [isDisabled]="tableService.qrLoading"></default-button-template>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="tableService.qrLoading; else loadedQr">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #loadedQr>
        <div class="flex justify-center">
            <img [src]="imageData" width="500" height="500"/>
        </div>
    </ng-template>




</p-dialog>


<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <p-header>
        <span>Add new table</span>
    </p-header>
    <form class="my-4">
        <div class="flex justify-center  ">
          <div class="text-[#343A40] ">Table Number:</div>

          <input class="ml-4 w-20 border-2 text-center p-0 border-[#CED4DA] focus:border-customPrimary  focus:outline-none" 
          id="tableNumber" 
          [(ngModel)]="tableNumberField" name="tableNum" type="number">

        </div>
      </form>

    <div class="flex justify-center">
      <button type="submit" data-dismiss="modal"
      [ngClass]="{'disabled-button': tableNumberField == null || tableNumberField < 0 || tableService.loading}" (click)="addTable()"
      class="text-white bg-customPrimary hover:cursor-pointer  items-center rounded px-2  py-1.5 text-base">
      <span *ngIf="tableService.loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </span>
    <span *ngIf="!tableService.loading">Add</span>
    </button>
      </div>
</p-dialog>


<are-you-sure-template [visible]="deleteVisible" header="Delete Table No. {{selectedTable.tableNumber}}"
description="Are you sure you wanna remove this table?" positiveLabel="Yes" negativeLabel="No" *ngIf="selectedTable != null"
[selectedId]="selectedTable.id" (visibleChange)="deleteVisible = false" (yesEvent)="deleteTable($event)" 
[isLoading]="tableService.deleteLoading"></are-you-sure-template>