<div id="main-div">
   
 <!-- component -->
<!-- Create By Joker Banny -->
<div fxLayout="row wrap" [fxLayoutGap]="'20px grid'" fxLayoutAlign="" *ngIf="paginationData">
  <div fxFlex="1 1 auto" [fxFlex.lg]="'25%'" [fxFlex.xs]="'100%'" [fxFlex.sm]="'50%'" [fxFlex.md]="'33%'"
   class="card-deck w-1/5 "
    *ngFor="let item of paginationData.content" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
     fxLayout="column" fxLayoutAlign="start center">

    <div class=" rounded  w-5/6  bg-white shadow-md hover:cursor-pointer ">
       <!-- (click)="orderPopUp(item)"> -->
      <div class="w-full ">
        <div >
          <div
            class="image-container w-full h-40  object-cover overflow-hidden rounded flex justify-center ">
            <img [src]="imageDataMap[item.photoId]" class="rounded w-full object-cover">
          </div>
          <div class=" px-1.5 mt-2">
            <div class="group">
          <div class="header flex justify-between  font-bold text-lg group-hover:text-blue-500">
            <h1 class="">{{item.name}}</h1>
          </div>
          
          <div class="description   text-base line-clamp-2">
            Quantity: {{item.remainingQuantity}}
          </div>
        </div>
          <div class="w-full my-2">


            <!-- <div class="flex w-full  justify-between items-center   pb-3">
              <div class="cost   font-semibold text-xl">
                <h1 class="">{{currency}} {{item.cost}}</h1>
              </div>
              <text-type-template text="{{item.foodType}}"></text-type-template>
            </div> -->
            <div class="bg-purple-600" >

              <default-button-template text="Restock" [wholeWidth]="true" (clicked)="reStockVisible=true; selectedForRestock = item"
              ></default-button-template>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>



    

  








  </div>
</div>
</div>


<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" [ngClass]="{'show': reStockVisible}"
    *ngIf="selectedForRestock" >
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3 ">
        <div class="dialog-header flex justify-between items-center">
          <div class="title-combine">
            <div class="top-level-header flex items-center">
              <div class="mr-3 font-semibold text-xl">{{selectedForRestock.name}}</div>

              <div class="rounded-lg text-[#1565C0] flex items-center  text-center p-0.5 px-2   text-sm bg-blue-200">
                <!-- {{item.isPackage ? 'Package' : 'Individual'}} -->
                {{selectedForRestock.foodType}}
              </div>

            </div>
          </div>
          <mat-icon class="text-lg hover:cursor-pointer " (click)="reStockVisible = false; selectedForRestock = null" data-dismiss="modal">close</mat-icon>
        </div>
        <div class="dialog-item-details ">
          <div class="item-image flex justify-center">
            <div class="image-container w-64 h-40   p-3 px-0 object-cover overflow-hidden rounded-sm flex text-center ">
              <img [src]="imageDataMap[selectedForRestock.photoId]" class="rounded-sm w-full object-cover">
            </div>
          </div>
          
          <div class="item-description flex flex-col">
            <span class="text-[#6C757D] text-lg">Description</span>
            <span class="text-base">
              {{ selectedForRestock.description == null ? selectedForRestock.name : selectedForRestock.description }}
            </span>  
          </div>
        </div>
      
          <form class="my-4">
            <div class="flex justify-center  ">
              <div class="text-[#343A40] ">Quantity:</div>

              <input class="ml-4 w-20 border-2 text-center p-0 border-[#CED4DA] focus:border-customPrimary  focus:outline-none" id="quantity" [(ngModel)]="quantity" name="quantity">

            </div>
          </form>
   
        <div class="flex justify-center">
          <button type="submit" data-dismiss="modal"
          [ngClass]="{'disabled-button': quantity == null || quantity < 1}" (click)="addStock(quantity!)"
          class="text-white bg-customPrimary hover:cursor-pointer  items-center rounded px-2  py-1.5 text-base">Select</button>
      

        </div>
      </div>
    </div>
  </div>