<div id="main-div" class="space-y-5">
    <div class="flex items-center justify-between">
        
            <div>
                <food-filter-template [selectedKey]="userPaymentManagementService.selectedOption" [options]="userPaymentManagementService.options" (optionSelected)="selectedFromUserFilter($event!)"></food-filter-template>
              </div>
        
              <div>
    
                  <span class="p-input-icon-left ">
                    <div>
                      <search-template (typedData)="typedUserToFilter($event)"></search-template>
                    </div>
      
                  </span>
                  <!-- <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                      <ng-template pTemplate="header">
                          <div class="px-3 pt-3 pb-0">
                              <span class="font-bold">Agent Picker</span>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      </ng-template>
                  </p-columnFilter> -->
              </div>
    </div>
    <div class="" style="width: 100%;">
    <p-table 
    [value]="userListPaginated.content"
    #dt1
    [rows]="paginationJson.row"
    [loading]="load">
    <!-- <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
            
                <div>
                    <food-filter-template [selectedKey]="userPaymentManagementService.selectedOption" [options]="userPaymentManagementService.options" (optionSelected)="selectedFromUserFilter($event!)"></food-filter-template>
                  </div>
            
                  <div>

                      <span class="p-input-icon-left ">
                        <div>
                          <search-template (typedData)="typedUserToFilter($event)"></search-template>
                        </div>
          
                      </span>
                      <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                          <ng-template pTemplate="header">
                              <div class="px-3 pt-3 pb-0">
                                  <span class="font-bold">Agent Picker</span>
                              </div>
                          </ng-template>
                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          </ng-template>
                      </p-columnFilter>
                  </div>
        </div>
    </ng-template> -->
    <ng-template pTemplate="header">
        <tr>
            <th style="">
                <div class="flex align-items-center">
                    
                </div>
            </th>
            <th style="">
                <div class="flex align-items-center">
                    Name
                </div>
            </th>
            <th style="">
                <div class="flex align-items-center">
                    Email
                    
                </div>
            </th>
            <th style="">
                <div class="flex align-items-center">
                    Total Due
                    
                </div>
            </th>
            <th style="">
                <div class="flex align-items-center">
                    Action
                    
                </div>
            </th>


          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
                <div class="image-container">
                    <div class="w-16 h-16 rounded-full overflow-hidden">
                        <img [src]="imageDataMap[user.id] == null? 'assets/avatar/anon.jpg' : imageDataMap[user.id]" [alt]="'assets/avatar/anon.jpg'"
                            class="w-full h-full object-cover" />
                    </div>
                </div>
            </td>
            <td>
              
                <span class="ml-1 vertical-align-middle">{{ user.fullName }}</span>
            </td>
            <td>
              
                <span class="ml-1 vertical-align-middle">{{ user.email }}</span>
            </td>
            <td>
                
                {{user.remainingAmount}}
            </td>
            <td>
               <div >

                   <default-button-template (clicked)="payCashPopUp = true; selectedUser = user" text="Pay" [isDisabled]="user.remainingAmount == 0" > </default-button-template>
                </div>
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No Users found.</td>
        </tr>
    </ng-template>
</p-table>
</div>
<tfoot class="flex justify-between   h-full mt-2"  *ngIf="userListPaginated">
    <ng-container *ngFor="let data of userListPaginated.content | paginate: {
        itemsPerPage : paginationJson.row,
        currentPage : userListPaginated.currentPageIndex,
        totalItems : userListPaginated.totalElements
    }; let first= first;">
    </ng-container>
    <p>{{userListPaginated.numberOfElements}} of {{userListPaginated.totalElements}}
        items</p>

    <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)" class="">
    </pagination-controls>




</tfoot>
</div>

    <pay-cash-template [visible]="payCashPopUp" [max]="selectedUser.remainingAmount" [min]="1" [userId]="selectedUser.id" (visibleChange)="payCashPopUp = false"
      (postStatus)="this.payCashPopUp = false; this.getPaginatedData();" *ngIf="selectedUser"></pay-cash-template>
      
<!-- <div id="main-div">
    <user-payment-management-table-template></user-payment-management-table-template>
</div> -->