<div class="">
  <div class="absolute bg-black text-white flex w-full items-center justify-center top-0 left-0 h-full
      opacity-50" *ngIf="foodService.pictureLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="z-30">
    <div class="flex justify-between">
      <h5 class="font-semibold text-xl"> {{foodForm.get("id")?.value == null? 'Add' : 'Update'}} Food</h5>

    </div>

    <div class="">
      <form [formGroup]="foodForm" (ngSubmit)="submitDetails()">
        <input type="hidden" name="hiddenField" value="{{formValue('id')?.value}}" formControlName="id">
        <div class="form-group">
          <label for="inputFoodName">Food Name<span class="text-red-600 text-xl">*</span></label>
          <input type="text" class="form-control border-2 focus:ring-0" id="inputFoodName" placeholder="Enter Food Name"
            formControlName="name">

          <div class="flex justify-between mt-2">
            <div>
              <span>FoodType<span class="text-red-600 text-xl">*</span></span>
              <div class="dropright">
                <button class="border-gray-300 border-2  w-fit rounded p-1 flex" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{formValue("foodType")?.value != null? formValue("foodType")?.value : 'Select Food Type'}}
                  <div class="">
                    <mat-icon>arrow_right</mat-icon>
                  </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item hover:cursor-pointer hover:bg-gray-200" *ngFor="let option of menuList"
                    (click)="selectedDropdownOption(option)">
                    {{option}}</a>

                </div>
              </div>
            </div>
            <div class="w-40">
              <label for="inputPrice">Price<span class="text-red-600 text-xl">*</span></label>
              <input type="number" class="form-control border-2 focus:ring-0" placeholder="Price of the food"
                formControlName="cost" (input)="item!=null && compareFormAndMenu()">
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="inputDescription">Description</label>
            <textarea class="form-control border-2 focus:ring-0" id="inputDescription" aria-describedby="emailHelp"
              placeholder="Description of the food" formControlName="description"></textarea>
          </div>

          <div class="form-group mt-2 h-fit">
            <label for="exampleFormControlFile1">Image upload<span class="text-red-600 text-xl">*</span></label>
            <div class="mt-1">
              <file-upload-template [originalImage]="imageUrl" (imageIdEvent)="imageId = $event"></file-upload-template>
            </div>
          </div>

        </div>




        <div class="flex justify-end mt-3">
          <div (click)="toggleDrawer(false)"
            class="w-fit mr-2  hover:cursor-pointer items-center text-customPrimary border-2 border-customPrimary rounded-lg pr-2 pl-1 py-1.5 text-base">
            Cancel</div>
          <button type="submit" [disabled]="foodForm.invalid"
            class=" hover:cursor-pointer bg-customPrimary items-center text-white rounded-lg px-2  py-1.5 text-base"
            [class.disabled-button]="foodForm.invalid || (item == null ?  imageId == null : compareFormAndMenu() && imageId ==null)">Save</button>
        </div>
      </form>
    </div>

  </div>
</div>
<!-- <p-messages [(value)]="endMessage" [enableService]="false" [closable]="false"></p-messages> -->