/* You can add global styles to this file, and also import other style files */

#main-div{
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
#main-div-no-vh{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.disabled-button {
  background-color: lightgray !important;
  color: gray !important;
  cursor: not-allowed;
}

// :host #router-container{
//   display: flex;
//   flex-direction: column;
// }

.table-row-hover:hover td {
  background-color: #f5f5f5; 
}

body {
    background-color: #EBEBEB;
}


.disabled-button {
  opacity: 0.6; /* You can adjust the opacity as needed */
  pointer-events: none;
  cursor: not-allowed;
}
.disabled-icon {
  color: #ccc;
}
.disabled-div { /* You can adjust the opacity as needed */
  pointer-events: none;
  cursor: not-allowed;
}
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/cdk/overlay-prebuilt.css';

  @import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
// @import "primeflex/primeflex.css";

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


